---
import SocialLinks from "../ui/SocialLinks.astro";
import SSACLogo from "../icons/SSACLogo.astro"; 
import ContactItemsFooter from "../ui/ContactItemsFooter.astro"; 
import FooterOffersCard from "../ui/FooterOffersCard.astro";
import FooterBookAppointmentCard from "../ui/FooterBookAppointmentCard.astro";

interface Timmings {
  title: string;
  details: string;
}

interface FooterBookAppointment {
  title: string;
  btnLink: string;
  btnText: string;
}

interface FooterOffers {
  bgImage: ImageMetadata;
  title: string;
  subtitle: string;
  btnLink: string;
  btnText: string;
}

interface FooterData {
  name: string;
  copyright: {
    year: number;
    text: string;
    footnote: string;
  };
  footerLatestOffers: FooterOffers;
  footerBookAppointment: FooterBookAppointment;
  social_media: {
    link: string;
    icon: string;
    text: string;
  }[];
  locations: {
    title: string;
    address: string[];
    phones: string[];
    email: string;
    map: string;
    timmings: Timmings[];
  }[];
}

interface Props {
  footer: FooterData;
}

const {
  locations,
  footerBookAppointment,
  footerLatestOffers,
  copyright,
  social_media,
} = Astro.props.footer;
---

<div class="bg-accent text-base-200">
  <footer class="footer footer-horizontal footer-center py-10">
    <SSACLogo class="w-44 fill-accent-content"/>
  </footer>

  <footer class="footer md:footer-horizontal py-10 px-3 md:px-12 lg:px-32 mb-0">
    <ContactItemsFooter locations={locations} />
    <nav class="grid h-full content-between gap-4">
      <FooterBookAppointmentCard footerBookAppointment={footerBookAppointment}/>
      <FooterOffersCard footerOffers={footerLatestOffers} />
    </nav>
  </footer> 
  <div class="divider w-[90vw] mx-auto my-0"></div>
  <footer
    class="footer sm:footer-horizontal items-center py-4 px-3 md:px-12 lg:px-32"
  >
    <aside class="grid-flow-col items-center">
      <p>{copyright.text} {new Date().getFullYear()} - {copyright.footnote}</p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <SocialLinks
        class="w-8 h-8"
        socials={social_media.map((social) => ({
          link: social.link,
          icon: social.icon,
          text: social.text,
        }))}
      />
    </nav>
  </footer>
</div>
