---
import GTMHeadScript from "@/components/layout/GTMHeadScript.astro";
import Schema from "@/components/layout/Schema.astro";
import { getCollection } from "astro:content";
const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const site = siteInfo;
---

<head>
  <script>
    import "/src/scripts/theme.ts";
  </script>
  <meta charset="UTF-8" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Schema.org -->
  <Schema />

  <!-- DaisyUI -->
  <link
    href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.6/daisyui.css"
    rel="stylesheet"
    type="text/css"
  />

  <!-- Tailwind -->
  <script
    type="text/partytown"
    src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
    is:inline></script>

  <link rel="sitemap" href="/sitemap.xml" />
  <!-- Basic Meta Tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{site.title}</title>
  <meta name="description" content={site.description} />
  <meta name="publisher" content={site.title} />

  <!-- Open Graph Meta Tags (for social sharing) -->
  <meta property="og:title" content={site.title} />
  <meta property="og:description" content={site.description} />
  <meta property="og:image" content={`${site.basepath}${site.ogImageURL}`} />
  <meta property="og:url" content={`${site.basepath}/`} />
  <meta property="og:type" content="website" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={site.title} />
  <meta name="twitter:description" content={site.description} />
  <meta name="twitter:image" content={`${site.basepath}${site.ogImageURL}`} />

  <!-- Canonical URL (prevents duplicate content issues) -->
  <link rel="canonical" href={site.basepath} />

  <!-- Additional SEO Meta Tags -->
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content={site.keywords.join(",")} />
  <meta name="author" content={site.author.name} />
  <GTMHeadScript />
</head>
