---
import { getCollection } from "astro:content";
import Heading from "./Heading.astro"; 
import { Image } from "astro:assets";
import ListUnordered from "./ListUnordered.astro";
import ListItem from "./ListItem.astro";
const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const equipments = siteInfo.equipments;
---

{
  equipments.map((equipment) => (
    <div class="card lg:card-side bg-base-100 shadow-sm mb-10 bg">
      <figure>
        <Image
          src={equipment.image}
          alt={equipment.title}
          title={equipment.title}
          width={equipment.image.width}
          height={equipment.image.height}
          class="w-1/4 rounded-xl"
        />
      </figure>

      <div class="card-body">
        <Image
          src={equipment.titleImage}
          alt={equipment.title}
          title={equipment.title}
          width="720"
          height="240"
          class="w-full object-fit"
        />
        <Heading
          class="sr-only card-title"
          size="sm"
          fontweight="normal"
          fontstyle="point"
        >
          {equipment.title}
        </Heading>
        <ListUnordered>
          {equipment.text.map((text) => (
            <ListItem class="opacity-50">{text}</ListItem>
          ))}
        </ListUnordered>
      </div>
    </div>
  ))
}
